.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  
  .confirmed {
    border-bottom: 10px solid rgb(252, 221, 86);
    border-top: 10px solid rgb(252, 221, 86);
    
  }
  
  .recovered{
    border-bottom: 10px solid rgba(91, 199, 117);
    border-top: 10px solid rgba(91, 199, 117);
  }
  
  .deaths{
    border-bottom: 10px solid rgba(237, 69, 104);
    border-top: 10px solid rgba(237, 69, 104);
  }